<div class="container">
  <h2>Congratulation your booking is confirmed</h2>

  <!-- input from booking form -->
  <%= @booking.last %>

  <%= link_to "Bookings", partners_path, class: "btn btn-ghost" %>
</div>
