<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1558522195-e1201b090344?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);">
  <div class="container">
    <h1><strong>PartnerUp!</strong></h1>
    <p>Too busy to entertain your partner? - <strong>No problem!</strong></p>
    <a class="btn btn-danger" href="/partners">Get Pimpin</a>
  </div>
</div>
