<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1533213570495-60f06dc31921?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2389&q=80);">
  <div class="container">
    <h1><strong>Pimp-City-Central</strong></h1>
    <p>Pimpin ain't never been this easy!</p>
    <a class="btn btn-danger" href="/partners">Get Pimpin</a>
  </div>
</div>
