.partner-card {
  transition: all 0.4s ease;
  color: black;
  transition: all 0.4s ease;
  text-decoration: none !important;
    &:hover{
    color: black;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    transition: all 0.4s ease;

  }
}
