.card-dashboard {
  margin-top: 140px;
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}


